body{
  margin:0;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  background-image:url("images/pattern-curve.svg");
  background-size:contain;
  background-position:bottom;
  background-repeat: no-repeat;
}
.main{
  padding-top: 10vh;
  display: grid;
  justify-items: center;
  text-align: center;
}
.picture-part{
  margin-top:25px;
  position: relative;
  background-image: url("images/pattern-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-row:1/2;
  height: 250px;
  width: 250px;
}
.picture{
  width: 200px;
  border-radius: 5px;
  box-shadow:-5px 30px 40px -35px;
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 1s;
}
.btn-box{
  position:absolute;
  display:flex;
  box-shadow:-5px 30px 40px -18px;
  bottom:15px;
  height: 35px;
  width:70px;
  left: calc(50% - 35px);
  background-color:white;
  border-radius: 50px;
  overflow: hidden;
}
button{
  box-sizing: border-box;
  height:100%;
  width:50%;
  border:0;
  background-color: transparent;
  outline: 0;
}
button:hover img{
  width:10px;
}
button:active img{
  width:7px;
}
button img{
  margin-top: 5px;
  width:8px;
}
#prev img{
  transform: scale(.95);
}
.text-part{
  margin-top: 25px;
  color: hsl(240, 38%, 20%);
  background-image: url("images/pattern-quotes.svg");
  background-size: 50px;
  background-position: top center;
  background-repeat: no-repeat;
  grid-row: 2/3;
}
#text-two{
  transition: opacity 1s;
}
p{
  font-weight: 700;
}
span{
  color: hsl(240, 18%, 77%);
  display: block;
  font-weight: 300;
}
/* Animation classes */
.hide{
  display:none;
}
.gone{
  opacity:0;
}

@media only screen and (min-width: 600px){
  body{
  font-size: 14px;
  background-size: 35%;
  background-position: bottom left;
  }
  .main{
    grid-template-rows: 100vh;
    padding-top: 0;

  }
  .btnPic-box{
    position:absolute;
    width:80%;
    height: 30vw;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .picture-part{
    grid-row: 1;
    grid-column: 2/3;
    width: 40vw;
    height:auto;
    margin: 25px 150px 25px 0 ;
    background-size:contain;
  }
  .picture{
    width:100%;
    height:auto;
  }
  .btn-box{
    bottom: -30px;
    left:80px;
  }
  .text-part{
    text-align: left;
    position:relative;
    align-self: center;
    background-position: 20% 0;
    background-size: 20%;
    grid-row:1;
    grid-column:1/2;
    left:25%;
    padding-top: 50px;
    width:100%;
    height: auto;
    z-index:999;
  }
p, blockquote{
    width: 70%;
    margin-left:0;
  }
  blockquote{
    line-height:1.6;
    width:100%;
    font-weight:300;
    font-size:1.4em;
    /* letter-spacing:2px; */
  }
  p, span{
    display:inline;
  }
}
@media only screen and (min-width: 900px){
  body{
  font-size: 18px;
}
}
@media only screen and (min-width: 1200px){
  body{
  font-size: 24px;
}
}
